.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
docs
inst/doc
**removeme*
/doc/
/Meta/
# only highest-hierarchy pdf ignore
*.pdf  
vignettes/*.html
vignettes/*.R
gifs/
res/paper/*.txt
docs
intermediate_data/
